extends layout
block links
  li: a.active(href='projects.html') Projects
  li: a(href='experiments.html') Experiments
  li: a(href='about.html') About
block content
  - var url = 'content/' + S(item).slugify().s;
  - var fileUrl = 'assets/' + url;
  if (fs.existsSync('assets/content/' + S(item).slugify().s + '/text.json'))
    - var json = JSON.parse(fs.readFileSync('assets/content/' + S(item).slugify().s + '/text.json'));
  - function insertMedia(filename, grow, video) {
      if (glob.sync(fileUrl + '/' + filename + '.mp4').length > 0)
        video(class= grow == true ? 'grow' : '', class= video == true ? 'video-scroll' : '', autoplay='', muted='', loop='', width='100%')
          source(src= url + '/' + filename + '.mp4')
      else if (glob.sync([fileUrl + '/' + filename + '.+(png|jpg)']).length > 0)
        - var fullname = glob.sync([fileUrl + '/' + filename + '.+(png|jpg)'])[0].replace(/^.*[\\\/]/, '')
          img(class= grow == true ? 'grow' : '', src= url + '/' + fullname, width= '100%', alt= 'Project Image')
  - }
  .row
    .col-sm-8
      - insertMedia('hero')
    .col-sm-4.extra-padding.collapsed-col
      p= item
      if (json.description)
        p= json.description
      hr
      if (json.client)
        p= 'Client: ' + json.client
      if (json.direction)
        p= 'Direction: ' + json.direction
      if (json.production)
        p= 'Production :' + json.production
      if (json.design)
        p= 'Design: ' + json.design
      if (json.sound)
        p= 'Sound: ' + json.sound
  .row.relative
    .col-sm-8
      - insertMedia('hero2')
    .col-sm-4.bottom-align-text.extra-padding
      h2 Focus
      if (json.focus)
      p= json.focus
  .row.full-width
    .parallax
      if (glob.sync(fileUrl + '/' + 'parallax.mp4').length > 0)
        video.parallax-img(autoplay='', muted='', loop='', width='100%')
          source(src= url + '/' + 'parallax.mp4')
      else if (glob.sync([fileUrl + '/' + 'parallax.+(png|jpg)']).length > 0)
        - var fullname = glob.sync([fileUrl + '/' + 'parallax.+(png|jpg)'])[0].replace(/^.*[\\\/]/, '')
        img.parallax-img(src= url + '/' + fullname, width= '100%', alt= 'Project Image')
  .row#alt-parallax
    .col-xs-12
      - insertMedia('alt-parallax')
  .row
    .col-sm-8
      if (json.body)
        p= json.body
  .row
    .col-sm-3.col-xs-6
      .grow-holder
        - insertMedia('small1', true)
    .col-sm-3.col-xs-6
      .grow-holder
        - insertMedia('small2', true)
    .col-sm-3.col-xs-6.collapsed-col
      .grow-holder
        - insertMedia('small3', true)
    .col-sm-3.col-xs-6.collapsed-col
      .grow-holder
        - insertMedia('small3', true)
  .row
    .col-sm-4
      .grow-holder
        - insertMedia('med1', true, true)
    .col-sm-4.collapsed-col
      .grow-holder
        - insertMedia('med2', true, true)
    .col-sm-4.collapsed-col
      .grow-holder
        - insertMedia('med3', true, true)
  .row
    each project in records.projects
      .col-sm-2.col-xs-4.centre.link
        if (project == item)
          a.white-link.large-font(href= '#')= project
        else
          a.white-link.large-font(href= S(project).slugify().s + '.html')= project
  .row
    .col-xs-12
      include footer
block scripts
  script(src='js/parallax.js')
  script(src='js/video.js')