extends layout
block links
  li: a.active(href='projects.html') Projects
  li: a(href='experiments.html') Experiments
  li: a(href='about.html') About
block content
  - var url = 'content/' + item.url;
  - var fileUrl = 'assets/' + url;
  if (fs.existsSync('assets/content/' + item.url + '/text.json'))
    - var json = JSON.parse(fs.readFileSync('assets/content/' + item.url + '/text.json'));
  else
    - console.log('JSON file not found in ' + item.url)
  - function insertMedia(filename, grow, video) {
      if (json[filename])
        video(class= grow == true ? 'grow' : '', class= video == true ? 'video-scroll' : '', autoplay= video == true ? false : '', muted='', loop='', width='100%')
          source(src= json[filename])
        - return true
      else if (glob.sync(fileUrl + '/' + filename + '.mp4').length > 0)
        video(class= grow == true ? 'grow' : '', class= video == true ? 'video-scroll' : '', autoplay= video == true ? false : '', muted='', loop='', width='100%')
          source(src= url + '/' + filename + '.mp4')
        - return true
      else if (glob.sync([fileUrl + '/' + filename + '.+(png|jpg)']).length > 0)
        - var fullname = glob.sync([fileUrl + '/' + filename + '.+(png|jpg)'])[0].match('[^\/]+$')[0];
          img(class= grow == true ? 'grow' : '', src= url + '/' + fullname, width= '100%', alt= 'Project Image')
        - return true
          
      - return false
  - }
  .row
    .col-xs-12.cl
      - insertMedia('hero')
  .row
    .col-sm-5.col-sm-push-7.cl
      p= item.name
      if (json && json.year)
        p= json.year
      if (json && json.description)
        p!= marked(json.description)
      hr
      if (json && json.client)
        p= 'Client: ' + json.client
      if (json && json.direction)
        p= 'Direction: ' + json.direction
      if (json && json.production)
        p= 'Production :' + json.production
      if (json && json.design)
        p= 'Design: ' + json.design
      if (json && json.sound)
        p= 'Sound: ' + json.sound
    .col-sm-7.col-sm-pull-5.collapsed-col.cl
      - insertMedia('hero2')
  .row
    .col-xs-12.cl
      if (json && json.body)
        p= json.body
  .row.full-width.parallax-row
    .parallax
      if (glob.sync(fileUrl + '/' + 'parallax.mp4').length > 0)
        video.parallax-img(autoplay='', muted='', loop='', width='100%')
          source(src= url + '/' + 'parallax.mp4')
      else if (glob.sync([fileUrl + '/' + 'parallax.+(png|jpg)']).length > 0)
        - var fullname = glob.sync([fileUrl + '/' + 'parallax.+(png|jpg)'])[0].match('[^\/]+$')[0];
        img.parallax-img(src= url + '/' + fullname, width= '100%', alt= 'Project Image')
  .row#alt-parallax
    .col-xs-12.cl
      if (glob.sync([fileUrl + '/' + 'alt-parallax.+(png|jpg|mp4)']).length > 0)
        - insertMedia('alt-parallax')
      else
        - insertMedia('parallax')
  .row
    .col-sm-2.col-sm-offset-2.cl
      if (json && json.tag)
        h2#focus= json.tag
      else
        h2#focus FOCUS
    .col-sm-8.cl
      if (json && json.focus)
        p= json.focus
  .row
    .col-sm-4.cl
      .row.no-extra.rel
        .col-xs-6.col-sm-12.col-xs-push-6.col-sm-push-0.no-extra.med.left-padding
          .grow-holder
            - insertMedia('med1', true, true)
        .col-xs-6.col-sm-12.col-xs-pull-6.col-sm-pull-0.no-extra.right-padding.left-caption
          if (json && json.med1_caption)
            p= json.med1_caption
    .col-sm-4.cl
      .row.no-extra.rel
        .col-xs-6.col-sm-12.col-xs-push-6.col-sm-push-0.no-extra.med.left-padding
          .grow-holder
            - insertMedia('med2', true, true)
        .col-xs-6.col-sm-12.col-xs-pull-6.col-sm-pull-0.no-extra.right-padding.left-caption
          if (json && json.med2_caption)
            p= json.med2_caption
    .col-sm-4.cl
      .row.no-extra.rel
        .col-xs-6.col-sm-12.col-xs-push-6.col-sm-push-0.no-extra.med.left-padding
          .grow-holder
            - insertMedia('med3', true, true)
        .col-xs-6.col-sm-12.col-xs-pull-6.col-sm-pull-0.no-extra.right-padding.left-caption
          if (json && json.med3_caption)
            p= json.med3_caption
  - var heroNumber = 3
  - while (true) {
    if (json['hero' + heroNumber] || glob.sync([fileUrl + '/hero' + heroNumber + '.+(png|jpg)']).length > 0)
      .row
        .col-xs-12
          - insertMedia('hero' + heroNumber)
          - heroNumber += 1
    else
      - break
  - }
  .row
    .col-sm-4.cl
      .row.no-extra.rel
        .col-xs-6.col-sm-12.no-extra.med.right-padding
          .grow-holder
            - insertMedia('med4', true, true)
        .col-xs-6.col-sm-12.no-extra.left-padding.right-caption
          if (json && json.med4_caption)
            p= json.med4_caption
    .col-sm-4.cl
      .row.no-extra.rel
        .col-xs-6.col-sm-12.no-extra.med.right-padding
          .grow-holder
            - insertMedia('med5', true, true)
        .col-xs-6.col-sm-12.no-extra.left-padding.right-caption
          if (json && json.med5_caption)
            p= json.med5_caption
    .col-sm-4.cl
      .row.no-extra.rel
        .col-xs-6.col-sm-12.no-extra.med.right-padding
          .grow-holder
            - insertMedia('med6', true, true)
        .col-xs-6.col-sm-12.no-extra.left-padding.right-caption
          if (json && json.med6_caption)
            p= json.med6_caption
  .row
    - projectNumber
    - for (var i = 0 ; i < records.projects.length; i++)
      if (records.projects[i] == item)
        - projectNumber = i;
        - break
    .col-sm-4
      if (projectNumber > 0)
        a#left-arrow(href= records.projects[projectNumber + - 1].url + '.html'): img(src= 'images/arrow_left.png', width= '30')
        p.centre.project-block: a.white-link(href= records.projects[projectNumber - 1].url + '.html')= records.projects[projectNumber - 1].name
    .col-sm-4.col-xs-12
      p#project.centre PROJECTS
    .col-sm-4
      if (projectNumber < records.projects.length - 1)
        p.centre.project-block: a.white-link(href= records.projects[projectNumber + 1].url + '.html')= records.projects[projectNumber + 1].name
        a#right-arrow(href= records.projects[projectNumber + 1].url + '.html'): img(src= 'images/arrow_right.png', width= '30')
  .row
    .col-xs-12
      include footer
block scripts
  script(src='js/parallax.js')
  script(src='js/video.js')